<div class="person-container">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)">首页</a></li>
    <li class="active">个人中心</li>
  </ol>

  <div class="person-detail">
    <div class="detail-left">
        <img src="http://i0.sinaimg.cn/dy/slidenews/26_img/2018_17/18496_643212_606522.jpg" alt="人物图像">
        <ul class="detail-info">
          <li>
            <span>姓名：</span>
            <span>蒋大钧</span>
          </li>
          <li>
            <span>密码：</span>
            <span>jdj12345</span>
          </li>
          <li>
            <span>创建时间：</span>
            <span>2018年5月30日</span>
          </li>
        </ul>
    </div>
  </div>
  <div class="person-list">
    <ul>
      <li class="person">
        <img src="http://i0.sinaimg.cn/dy/slidenews/26_img/2018_17/18496_643212_606522.jpg" alt="个人图片" title="蒋大钧">
      </li>
      <li class="person">
        <img src="http://i0.sinaimg.cn/dy/slidenews/26_img/2018_17/18496_643212_606522.jpg" alt="个人图片" title="蒋大钧">
      </li>
      <li class="person">
        <img src="http://i0.sinaimg.cn/dy/slidenews/26_img/2018_17/18496_643212_606522.jpg" alt="个人图片" title="蒋大钧">
      </li>
      <li class="person">
        <img src="http://i0.sinaimg.cn/dy/slidenews/26_img/2018_17/18496_643212_606522.jpg" alt="个人图片" title="蒋大钧">
      </li>
      <li class="person">
        <img src="http://i0.sinaimg.cn/dy/slidenews/26_img/2018_17/18496_643212_606522.jpg" alt="个人图片" title="蒋大钧">
      </li>
      <li class="person">
        <img src="http://i0.sinaimg.cn/dy/slidenews/26_img/2018_17/18496_643212_606522.jpg" alt="个人图片" title="蒋大钧">
      </li>
    </ul>
  </div>
</div>
