<div class="person-container">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)">首页</a></li>
    <li class="active">个人中心</li>
  </ol>

  <div class="person-detail">
    <div class="detail-left">
        <img [src]="persons.img" alt="人物图像">
        <ul class="detail-info">
          <li>
            <span>姓名：</span>
            <span>{{persons.userName}}</span>
          </li>
          <li>
            <span>密码：</span>
            <span>{{persons.passWord}}</span>
          </li>
          <li>
            <span>创建时间：</span>
            <span>{{persons.createDate | date:"yyyy-MM-dd HH:mm:ss"}}</span>
          </li>
        </ul>
    </div>
  </div>
  <div class="person-list">
    <ul>
      <li class="person" *ngFor="let person of personList; let i = index;" (click)="changePerson(i)">
        <img [src]="person.img" alt="个人图片" [title]="person.userName">
      </li>
    </ul>
  </div>
</div>
