.add-blog-container{
    font-size:14px; 
    padding: 20px;
    min-width: 1024px;
    overflow: auto;
}
h3{
    font-size: 14px;
    line-height: 40px;
    width: 200px;
    padding-left: 60px;
    font-weight: bold;
}
.add-blog-form{
    width: 600px;
    padding:10px 0px 10px 60px;
    min-height: 400px;
}
.blog-menu{
    min-width: 100px !important; 
}
.blog-menu > li{
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}