@import '../../static/css/base.scss';
.home-container{
   width: 100%;
   position: relative;
   overflow: hidden;
   @extend .flex-1;
   @extend .flex;
   @extend .flex-direction-column;
   .home-scroll{
        @extend .flex-1;
        overflow: auto;
        .home-banner{
            width: 100%;
            height: 350px;
            margin-top: 80px;
        }
        .common-content-container{
            position: relative;
            width: 100%;
            height: auto;
        }
   }
  
}