<div class="areas-contaier">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)">地区展示</a></li>
    <li class="active">地区模块</li>
  </ol>

  <div class="areas-content">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>序号</th>
          <th>类型</th>
          <th>名称</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>大陆</td>
          <td>2018年5月6日</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm">删除</button>
            <button type="button" class="btn btn-primary btn-sm">修改</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2</td>
          <td>欧美</td>
          <td>2018年5月6日</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm">删除</button>
            <button type="button" class="btn btn-primary btn-sm">修改</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>3</td>
          <td>日韩</td>
          <td>2018年5月6日</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm">删除</button>
            <button type="button" class="btn btn-primary btn-sm">修改</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
       </ul>
     </nav>
    </div>
  </div>
</div>
