<div class="movies-container">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)">电影展示</a></li>
        <li class="active">电影模块</li>
    </ol>
   
    <div class="movies-content">
        <table class="table table-bordered table-hover">
          <caption>
            电影列表
            <!-- Split button -->
            <!-- 地区 -->
            <div class="btn-group">
              <button type="button" class="btn btn-info">
                  {{movieAreaTitle}}
              </button>
              <button 
                type="button" 
                class="btn btn-info dropdown-toggle" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
              >
                <span class="caret"></span>
                <span class="sr-only"></span>
              </button>
            <ul class="dropdown-menu">
                <li
                    *ngFor="let area of areaList;let i=index" [attr.id]="area.id"
                    (click)="areaEvent(area.title,area.area)"
                >
                    <a href="javascript:void(0)">{{area.title}}</a>
                </li>
            </ul>
          </div>
          <!-- 影片类型 -->
          <div class="btn-group">
              <button type="button" class="btn btn-info">{{movieTypeTitle}}</button>
              <button 
                type="button" 
                class="btn btn-info dropdown-toggle" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
              >
                <span class="caret"></span>
                <span class="sr-only"></span>
              </button>
            <ul class="dropdown-menu">
                <li
                *ngFor="let type of typeList;let i=index" [attr.id]="type.id"
                (click)="typeEvent(type.title,type.type)"
                >
                <a href="javascript:void(0)">{{type.title}}</a>
            </ul>
          </div>

            <!-- 影片分类 -->
            <div class="btn-group">
                <button type="button" class="btn btn-info">{{movieTypeType}}</button>
                <button 
                  type="button" 
                  class="btn btn-info dropdown-toggle" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false"
                >
                  <span class="caret"></span>
                  <span class="sr-only"></span>
                </button>
              <ul class="dropdown-menu">
                <li
                  *ngFor="let movieType of movieTypeList"  
                  [attr.id]="movieType.type"
                  (click)="movieTypeEvent(movieType.title,movieType.type)"
                ><a href="javascript:void(0)">{{movieType.title}}</a></li>
              </ul>
            </div>
            <button 
              type="button" 
              class="btn btn-info pull-right"
              (click)="addMovieUrl()"
            >新增影片
            </button>
            <div class="search-container">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="电影名称查询">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button">搜索</button>
                    </span>
                  </div><!-- /input-group -->
            </div><!-- /.row -->
        
          </caption>
          <thead>
            <tr>
              <th>序号</th>
              <th>区域</th>
              <th>图片</th>
              <th>云盘地址</th>
              <th>描述</th>
              <th>标题</th>
              <th>影片类型</th>
              <th>价格</th>
              <th>购买数量</th>
              <th>电影分类</th>
              <th>是否免费</th>
              <th>创建时间</th>
              <th>修改时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movieList;let i = index" [attr.id]="movie.id">
              <td>{{i+1}}</td>
              <td>{{movie.areaTitle}}</td>
              <td>
                <img 
                  class="movie-pic"
                  [src]="movie.picUrl" 
                  [attr.alt]="movie.title" 
                  [attr.title]="movie.title">
              </td>
              <td>
                <span 
                  class="movie-url"
                  [attr.title]="movie.content"
                >
                    {{movie.content}}
                </span>
              </td>
              <td>
                <span 
                  class="movie-description"
                  [attr.title]="movie.description"
                  >
                   {{movie.description}}
                </span>
              </td>
              <td>{{movie.title}}</td>
              <td>{{movie.typeTitle}}</td>
              <td>{{movie.price}}￥</td>
              <td>{{movie.count}}</td>
              <td>{{movie.movieType}}</td>
              <td>{{movie.isFreeTitle}}</td>
              <td>{{movie.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
              <td>{{movie.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
              <td>
                  <button 
                  type="button" 
                  class="btn btn-danger btn-sm"
                  data-toggle="modal"
                  data-target=".bs-example-modal-sm"
                >
                  删除
                </button>
                <button 
                  type="button" 
                  class="btn btn-primary btn-sm"
                >修改</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container">
            <app-pagination [pagination] = "pagination"></app-pagination>
        </div>
    </div>

  
</div>
