<div class="frame-container">
  <nav class="header">
     <div class="btn-container" (click)="toggleState()">
      <span class="expend-btn">=</span>
     </div>
  </nav>
  <section class="body-container">
      <div 
        class="body-left"
        [@expend-left]='state'
      >
      <div class="body-list">
         <div class="panel-container">
            
         </div>
      </div>
    </div>
      <div 
        class="body-right"
        [@expend-right]='state'
      >
        <div class="body-content">
          <router-outlet></router-outlet>
        </div>
      </div>
  </section>
</div>