.frame-container{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   background: url("../../../assets/imgs/bg.jpg") no-repeat center;
   background-size: cover;
}
.header{
    height: 80px;
    border-bottom: 2px solid #dcd9c8;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.btn-container{
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-container:hover{
    background-color:#d4d1c0; 
}
.expend-btn{
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 25px;
}
.login-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #a7a08e;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
}
.login-logo:hover{
    transition: all 1s;
    box-shadow: 0 0 10px #0CC;
}
.login-logo img{
    display: block;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50%;
}
.person-list{
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    font-size: 12px;
    border-radius: 2px;
    top: 53px;
    left: -15px;
    overflow: hidden;
}
.person-list li{
    width: 80px;
    padding: 5px 15px;
}
.person-list li:hover{
    background-color: #ebe8e1;
}
.body-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}
.body-left{
    width: 250px;
    height: 100%;
    border-right: 2px solid #dcd9c8;
    position: absolute;
    left: 0px;
    overflow-y: auto;
    z-index: 150; 
}
.body-right{
    width: 100%;
    padding-left: 250px;
    height: 100%;
    overflow: auto;
}
.body-content{
    position: relative;
    height: 100%;
}
/* 侧边栏样式 */
.body-list{
    padding: 30px 50px;
}
.list-item{
    padding: 5px 0;
}
.nav-header{
    text-decoration: none;
    font-size:14px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-dashboard{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: 7px;
}
.nav-list>li{
    font-size:14px;
    padding-left: 15px;
}
