<div class="frame-container">
  <nav class="header">
     <div class="btn-container" (click)="toggleState()">
      <span class="expend-btn glyphicon glyphicon-menu-hamburger"></span>
     </div>
     <!-- Split button -->
    <div class="login-logo" (click)="listToggle()">
        <img [src]="person.img" alt="logo">
        <ul class="person-list" *ngIf="listNone">
          <li (click)="$event.stopPropagation();listRedirct('personel')">个人中心</li>
          <li (click)="$event.stopPropagation();listRedirct('loginOut')">退出</li>
        </ul>
    </div>
  </nav>
  <section class="body-container">
      <div 
        class="body-left"
        [@expend-left]='state'
      >
      <div class="body-list">
        <div class="list-item">
          <a href="#dashboard-home" class="nav-header" data-toggle="collapse"><i class="icon-dashboard glyphicon glyphicon-home"></i>首页一览</a>  
          <ul id="dashboard-home" class="nav nav-list collapse ">  
              <li><a routerLink="/frame/home">记录报表</a></li>  
              <li><a routerLink="/frame/personel">个人中心</a></li>  
          </ul>
        </div>
        <div class="list-item">
          <a href="#dashboard-areas" class="nav-header" data-toggle="collapse"><i class="icon-dashboard glyphicon glyphicon-globe"></i>电影展示</a>  
          <ul id="dashboard-areas" class="nav nav-list collapse ">  
              <li><a routerLink="/frame/create-area">地区模块</a></li>
              <li><a routerLink="/frame/create-type">类型模块</a></li>  
              <li><a routerLink="/frame/create-movie">电影模块</a></li>
          </ul>  
        </div>
        <div class="list-item">
            <a href="#dashboard-movies" class="nav-header" data-toggle="collapse"><i class="icon-dashboard glyphicon glyphicon-fire"></i>小典展示</a>  
            <ul id="dashboard-movies" class="nav nav-list collapse ">  
                <li><a routerLink="/frame/book-type">小册类型</a></li>  
            </ul>  
        </div> 
        <div class="list-item">
            <a href="#dashboard-banner" class="nav-header" data-toggle="collapse"><i class="icon-dashboard glyphicon glyphicon-pawn"></i>轮播展示</a>  
            <ul id="dashboard-banner" class="nav nav-list collapse ">  
                <li><a routerLink="/frame/banner-list">轮播列表</a></li>
            </ul>  
        </div>         
      </div>
    </div>
      <div 
        class="body-right"
        [@expend-right]='state'
      >
        <div class="body-content">
          <router-outlet></router-outlet>
        </div>
      </div>
  </section>
</div>