<div 
  class="modal fade bs-example-modal-sm" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="mySmallModalLabel"
  id="tipModal"
>
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <button 
              type="button" 
              class="close" 
              data-dismiss="modal" 
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span>提示信息</span>
            </h4>
          </div>
          <div class="modal-body">
            <p>{{modal.tips}}</p>
          </div>
          <div class="modal-footer">
            <button 
              type="button" 
              class="btn btn-default" 
              data-dismiss="modal"
              [style.display]="modal.close?'none':'inlineBlock'"
              (click)="refuseEvent()"
              >否</button>
            <button 
              type="button" 
              class="btn btn-primary"
              (click)="confirmEvent(modal.id)"
              [disabled]="modal.flag"
            >是
            </button>
          </div>
        </div><!-- /.modal-content -->
  </div>
</div>