<div class="blogs-list-contanier">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)">小册信息</a></li>
        <li class="active">小册博客</li>
    </ol>
    <div class="blogs-list-content">
        <table class="table table-bordered table-hover">
            <caption>类型列表
              <button type="button" 
                class="btn btn-info pull-right"
                (click)="addBlog()"
              >新增博客</button>
            </caption>
            <thead>
              <tr>
                <th>序号</th>
                <th>博客类型</th>
                <th>博客名称</th>
                <th>博客地址</th>
                <th>浏览次数</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let blog of blogList;let i = index" [attr.id]='blog.id'>
                <th scope="row">{{i+1}}</th>
                <td>{{blog.blogTypeTitle}}</td>
                <td>{{blog.title}}</td>
                <td>{{blog.href}}</td>
                <td>{{blog.times}}</td>
                <td>{{blog.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>
                  <button
                    type="button" 
                    class="btn btn-danger btn-sm"
                    data-toggle="modal"
                    data-target=".bs-example-modal-sm"
                    (click)="alertModalItem(blog.id)"
                  >
                    删除
                  </button>
                  <button 
                    type="button" 
                    class="btn btn-primary btn-sm"
                  >修改</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-container">
            <app-pagination [pagination] = "pagination"></app-pagination>
          </div>
    </div>
     <!-- 弹框组件 -->
     <app-modal [modal]="modal"></app-modal> 
</div>
