<div class="blogs-list-contanier">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)">小册信息</a></li>
        <li class="active">小册博客</li>
    </ol>
    <div class="blogs-list-content">
        <table class="table table-bordered table-hover">
            <caption>类型列表
              <button type="button" 
                class="btn btn-info pull-right"
                (click)="addBlog()"
              >新增博客</button>
            </caption>
            <thead>
              <tr>
                <th>序号</th>
                <th>博客类型</th>
                <th>博客名称</th>
                <th>博客地址</th>
                <th>浏览次数</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
              </tr>
            </tbody>
          </table>
          <div class="pagination-container">
            <app-pagination></app-pagination>
          </div>
    </div>
</div>
