<div class="add-container">
    <ol class="breadcrumb">
        <li><a href="javascript:void(0)">电影展示</a></li>
        <li class="active">新增电影</li>
    </ol>
    <div class="add-content">
        <h3>电影元素面板</h3>
        <hr/>
        <form [formGroup]="addMovieForm" (submit)="addMovie()">
            <div class="form-group">
                <label for="type-select">类型组别：</label>
                <!-- 区域 -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info">区域</button>
                    <button 
                      type="button" 
                      class="btn btn-info dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-haspopup="true" 
                      aria-expanded="false"
                    >
                      <span class="caret"></span>
                      <span class="sr-only"></span>
                    </button>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">日本</a></li>
                    <li><a href="javascript:void(0)">美国</a></li>
                    <li><a href="javascript:void(0)">韩国</a></li>
                  </ul>
                </div>
                <!-- 类型 -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info">类型</button>
                    <button 
                      type="button" 
                      class="btn btn-info dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-haspopup="true" 
                      aria-expanded="false"
                    >
                      <span class="caret"></span>
                      <span class="sr-only"></span>
                    </button>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">科幻</a></li>
                    <li><a href="javascript:void(0)">惊悚</a></li>
                    <li><a href="javascript:void(0)">青春</a></li>
                    <li><a href="javascript:void(0)">武侠</a></li>
                    <li><a href="javascript:void(0)">剧情</a></li>
                    <li><a href="javascript:void(0)">其他</a></li>
                  </ul>
                </div>
            </div>

            <div class="form-group">
              <label for="movie-pics">影片图片：</label>
              <div class="btn-group">
                  <input type="file" id="movie-pics">
              </div>
              <div class="btn-group">
                  <div class="pic-display">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                  </div>
              </div>
            </div>

            <div class="form-group">
                <label for="movie-types">影片分类：</label>
                <div class="btn-group">
                  <label for="check-one" class="radio-group">最新
                      <input type="radio" id="check-one" value="1" name="types" checked>
                  </label>
                  <label for="check-two" class="radio-group">最热
                      <input type="radio" id="check-two" value="2" name="types">
                  </label>
                  <label for="check-thr" class="radio-group">经典
                      <input type="radio" id="check-thr" value="3" name="types">
                  </label>
                </div>
              </div>
        </form>
    </div>
</div>
