.add-container{
    font-size:16px; 
    padding: 20px;
    min-width: 1024px;
    overflow: auto;
}
.add-content{
    padding: 20px;
}
h3{
    text-align: center;
    font-size: 18px;
}
.form-group{
    padding: 10px 0px;
}
.btn-group{
    margin: 0  0  0 50px;
}
.warn-btn-group,.warn-alert{
    margin: 0px;
}
.warn-alert{
    padding: 10px;
}
.price-group{
    margin: 0;
    color:blue;
}
.radio-group{
    padding: 0 10px;
}
.movie-input{
    width: 450px;
}
#movie-pics{
    width: 200px;
}
#movie-description{
    width: 450px;
    height: 100px;
    resize: none;
}
.pic-display{
    width: 105px;
    height: 140px;
    border: 1px dashed violet;
    position: relative;
}
.pic-display>img{
    display: block;
    border: none;
    width: 105px;
    height: 140px;
}
.pic-display>span{
    color: springgreen;
    position: absolute;
    right: -10px;
    top:-10px;
    cursor: pointer;
    z-index: 8;
}
.dropdown-menu{
    min-width: 80px;
}