@import '../../static/css/base.scss';

.header-container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 140px;
    font-size: 30px;
    z-index: 1000;
    .header-select{
        width: 100%;
        height: 60px;
        background-color: #362b25;
        @extend .flex;
        @extend .flex-direction-r;
        @extend .justify-content-around;
        @extend .justify-content-center;
        transition: opacity .1s;
        -moz-transition: opacity .3s;	/* Firefox 4 */
        -webkit-transition: opacity .3s;	/* Safari 和 Chrome */
        -o-transition: opacity .3s;	/* Opera */
        p{
            width: 42%;
            height: 60px;
            @include radius(30px);
            background-color: #000;
            @extend .flex;
            @extend .flex-direction-r;
            @extend .align-items-center;
            @extend .justify-content-center;
            font-size: 24px;
            color: #fff;
            span{
                line-height: 60px;
                margin: 0 5%;
            }
        }
        p:nth-child(1){
            margin-left: 2%;
            .select-logo{
                width: 26px;
                height: 26px;
                @extend .flex;
                @extend .justify-content-center;
                @extend .align-items-center;
                i{
                    font-size: 26px;
                    text-align: center;
                }
            }
        }
        p:nth-child(2){
            margin-right: 2%;
            .select-all{
                width: 26px;
                height: 26px;
                @extend .flex;
                @extend .justify-content-center;
                @extend .align-items-center;
                i{
                    font-size: 26px;
                    text-align: center;
                }
            }
            .select-all-text{
                margin-left: -10px;
            }
        }
    }
    .nor{
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .cur{
        opacity: 0;
        filter: alpha(opacity=0);
    }
}