@import '../../static/css/base.scss';
.content-list-container{
    border-top:1px solid #b5b5b5;
    .content-list-title{
        padding: 0 28px;
        height: 110px;
        @extend .flex;
        @extend .flex-direction-r;
        @extend .align-items-center;
        @extend .justify-content-between;
        p{
            @extend .flex;
            @extend .flex-direction-r;
            @extend .align-items-center;
            .dot{
                width: 20px;
                height: 20px;
                margin-right: 20px;
                @include radius(50%);
                background-color:#66a2f8; 
            }
            .list-title{
                font-size: 32px;
                font-weight: bold;
                color:#000;
            }
        }
        p:nth-child(2){
            font-size:24px; 
        }
    }
}