<div class="book-type-container">
    <ol class="breadcrumb">
      <li><a href="javascript:void(0)">小册信息</a></li>
      <li class="active">小册类型</li>
    </ol>
    <div class="book-type-content">
      <table class="table table-bordered table-hover">
        <caption>类型列表
          <button type="button" 
            class="btn btn-info pull-right"
           (click)="addPanel()"
          >新增类型</button>
        </caption>
        <thead>
          <tr>
            <th>序号</th>
            <th>类型</th>
            <th>名称</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bookType of bookTypeList;let i=index" [attr.id]="bookType.id">
            <th scope="row">{{i+1}}</th>
            <td>{{bookType.typeId}}</td>
            <td>{{bookType.typeTitle}}</td>
            <td>{{bookType.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td>{{bookType.modifyTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td>
              <button 
                type="button" 
                class="btn btn-danger btn-sm"
                data-toggle="modal"
                data-target=".bs-example-modal-sm"
              >
                删除
              </button>
              <button 
                type="button" 
                class="btn btn-primary btn-sm"
              >修改</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-container">
        <app-pagination [pagination] = "pagination"></app-pagination>
      </div>
    </div>
    <div class="book-type-add" [@panel-left]='state'>
      <h4>新增类型
        <button 
          type="button" 
          class="btn btn-danger pull-right"  
          (click)="closePanel()"
        >X</button></h4>
      <hr/>
      <form [formGroup]="bookTypeForm" (submit)="createBookType()">
        <div class="form-group">
          <label for="bookType">小册类型</label>
          <input 
                type="text" 
                class="form-control" 
                id="bookType" 
                placeholder="bookType"
                formControlName="bookType"
                required
          >
          <div 
              *ngIf="bookTypeForm.get('bookType').invalid && (bookTypeForm.get('bookType').dirty || bookTypeForm.get('bookType').touched)"
               class="alert alert-danger"
              >
              <div 
              *ngIf="bookTypeForm.get('bookType').errors.required"
              >
                小册类型必填
              </div>
              <div 
              *ngIf="bookTypeForm.get('bookType').errors.forbiddenName"
              >
                类型是数字
              </div>
          </div>
        </div>
        <div class="form-group">
          <label for="bookTypeTitle">小册名称</label>
          <input 
                type="text" 
                class="form-control" 
                id="bookTypeTitle" 
                placeholder="bookTypeTitle"
                formControlName="bookTypeTitle"
                required
          >
          <div 
          *ngIf="bookTypeForm.get('bookTypeTitle').invalid && (bookTypeForm.get('bookTypeTitle').dirty || bookTypeForm.get('bookTypeTitle').touched)"
           class="alert alert-danger"
          >
          <div 
          *ngIf="bookTypeForm.get('bookTypeTitle').errors.required"
          >
            小册名称必填
          </div>
      </div>
        </div>
        <button 
          type="submit" 
          class="btn btn-primary"
          [disabled]="bookTypeForm.invalid"
          >
          提交
        </button>
      </form>
    </div>
</div>
