<div class="chapter-list-container">
  <ol class="breadcrumb">
      <li><a href="javascript:void(0)">章节信息</a></li>
      <li class="active">章节列表</li>
  </ol>
  <div class="chapter-list-content">
    <table class="table table-bordered table-hover">
      <caption>章节列表
        <button type="button" 
          class="btn btn-info pull-right"
          (click)="addChapter()"
        >新增章节</button>
      </caption>
      <thead>
        <tr>
          <th>序号</th>
          <th>小册</th>
          <th>名称</th>
          <th>链接</th>
          <th>阅读时间</th>
          <th>浏览次数</th>
          <th>创建时间</th>
          <th>修改时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chapter of chapterList;let i = index" [attr.id]='chapter.id'>
          <th scope="row">{{i+1}}</th>
          <td>{{chapter.bookTitle}}</td>
          <td>{{chapter.title}}</td>
          <td>
            <span 
              class="chapter-href"
              [attr.title]="chapter.href"
            >
                {{chapter.href}}
            </span>
          </td>
          <td>{{chapter.time}}</td>
          <td>{{chapter.browser}}次</td>
          <td>{{chapter.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
          <td>{{chapter.modifyTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
          <td>
            <button
              type="button" 
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target=".bs-example-modal-sm"
              (click)="alertModalItem(chapter.id)"
            >
              删除
            </button>
            <button 
              type="button" 
              class="btn btn-primary btn-sm"
            >修改</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
        <app-pagination [pagination] = "pagination"></app-pagination>
    </div>
  </div>
   <!-- 弹框组件 -->
   <app-modal [modal]="modal"></app-modal> 
</div>