<div class="chapter-create-container">
    <h3>新增章节</h3>
    <form [formGroup] = "chapterCreateForm" class="add-chapter-form" (submit)="createChapter()">
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="chapter-title">章节标题:</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="chapter-title" 
                  placeholder="章节标题"
                  name="chapterTitle"
                  formControlName="chapterTitle"
                >
            </div>
            <span class="warning-container" *ngIf="titleFlag">
              标题不能为空！
            </span>
        </div>
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="blog-type">章节小册:</label>
                <div class="chapter-pic-select">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">章节小册</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                        </button>
                        <ul class="dropdown-menu chapter-menu">
                            <li>vue 音乐播放器实战</li>
                        </ul>
                        </div>
                </div>
                <input
                    id="chapter-book"
                    type="hidden" 
                    name="chapterBook" 
                    formControlName="chapterBook"
                >
            </div>
            <span class="warning-container" *ngIf="bookFlag">
                章节类型不能为空！
            </span>
        </div>
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="chapter-link">章节链接:</label>
                <div class="chapter-link-select">
                    <input 
                      type="file" 
                      title="上传MD文件" 
                      class="btn btn-info"
                      ng2FileSelect
                      [uploader]="uploader"
                    >
              
                </div>
                <input 
                  type="hidden" 
                  name="chapterLink" 
                  formControlName="chapterLink"
              
                >
            </div>
            <span class="warning-container" *ngIf="linkFlag">
                小册章节不能为空！
            </span>
        </div>
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="chapter-time">阅读时长:</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="chapter-time" 
                  placeholder="阅读时长，格式23分12秒"
                  name="chapterTime"
                  formControlName="chapterTime"
                >
            </div>
            <span class="warning-container" *ngIf="timeFlag">
              作者不能为空！
            </span>
        </div>
        <div class="submit-container">
            <button 
            type="submit" 
            class="btn btn-primary"
            >
            提交
          </button>
        </div>
    </form>
</div>