<div class="chapter-create-container">
    <h3>新增章节</h3>
    <form [formGroup] = "chapterCreateForm" class="add-chapter-form" (submit)="createChapter()">
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="chapter-title">章节标题:</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="chapter-title" 
                  placeholder="章节标题"
                  name="chapterTitle"
                  formControlName="chapterTitle"
                >
            </div>
            <span class="warning-container" *ngIf="titleFlag">
              标题不能为空！
            </span>
        </div>
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="chapter-logo">图片:</label>
                <div class="chapter-logo-select">
                    <input 
                      type="file" 
                      title="上传图片" 
                      class="btn btn-info"
                      ng2FileSelect
                      [uploader]="uploader"
                    >
              
                </div>
                <input 
                  type="hidden" 
                  name="chapterLogo" 
                  formControlName="chapterLogo"
              
                >
            </div>
            <span class="warning-container" *ngIf="chapterLogoFlag">
                logo不能为空！
            </span>
        </div>
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="blog-type">章节类型:</label>
                <div class="chapter-pic-select">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">章节类型</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only"></span>
                        </button>
                        <ul class="dropdown-menu chapter-menu">
                            <li>前端</li>
                        </ul>
                      </div>
                </div>
                <input
                  id="chapter-type"
                  type="hidden" 
                  name="chapterType" 
                  formControlName="chapterType"
                >
            </div>
            <span class="warning-container" *ngIf="typeFlag">
                章节类型不能为空！
            </span>
        </div>
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="chapter-author">作者:</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="chapter-author" 
                  placeholder="作者"
                  name="chapterAuthor"
                  formControlName="chapterAuthor"
                >
            </div>
            <span class="warning-container" *ngIf="authorFlag">
              作者不能为空！
            </span>
        </div>
        <div class="div-box">
            <div class="form-group chapter-form-item">
                <label for="chapter-description">章节描述:</label>
                <textarea 
                  class="form-control" 
                  id="chapter-description" 
                  placeholder="章节描述,500字以内"
                  name="chapterDescription"
                  rows="3"
                  maxlength="500"
                  style="resize:none;"
                  formControlName="chapterDescription"
                ></textarea>
            </div>
            <span class="warning-container" *ngIf="chapterDescriptionFlag">
              描述不能为空！
            </span>
        </div>
        <div class="submit-container">
            <button 
            type="submit" 
            class="btn btn-primary"
            >
            提交
          </button>
        </div>
    </form>
</div>