<div class="book-list-container">
  <ol class="breadcrumb">
      <li><a href="javascript:void(0)">小册信息</a></li>
      <li class="active">小册列表</li>
  </ol>
  <div class="book-list-content">
    <table class="table table-bordered table-hover">
      <caption>小册列表
        <button type="button" 
          class="btn btn-info pull-right"
          (click)="addBook()"
        >新增小册</button>
      </caption>
      <thead>
        <tr>
          <th>序号</th>
          <th>类型</th>
          <th>名称</th>
          <th>图片</th>
          <th>作者</th>
          <th>简介</th>
          <th>价格</th>
          <th>描叙</th>
          <th>创建时间</th>
          <th>修改时间</th>
          <th>操作</th>
        </tr>
        
      </thead>
      <tbody>
        <tr *ngFor="let book of bookList;let i = index" [attr.id]='book.id'>
          <th scope="row">{{i+1}}</th>
          <td>{{book.bookTypeTitle}}</td>
          <td>{{book.title}}</td>
          <td>
            <img 
                  class="book-logo"
                  [src]="book.logo" 
                  [attr.alt]="book.title" 
                  [attr.title]="book.title">
          </td>
          <td>{{book.author}}</td>
          <td>
            <span 
              class="book-intro-url"
              [attr.title]="book.introUrl"
            >
                {{book.introUrl}}
            </span>
          </td>
          <td>{{book.price}}</td>
          <td>
            <span 
            class="book-description"
            [attr.title]="book.description"
            >
             {{book.description}}
          </span>
          </td>
          <td>{{book.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
          <td>{{book.modifyTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
          <td>
            <button
              type="button" 
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target=".bs-example-modal-sm"
              (click)="alertModalItem(book.id)"
            >
              删除
            </button>
            <button 
              type="button" 
              class="btn btn-primary btn-sm"
            >修改</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
        <app-pagination [pagination] = "pagination"></app-pagination>
    </div>
  </div>
   <!-- 弹框组件 -->
   <app-modal [modal]="modal"></app-modal> 
</div>